/*
 * 뱅크다K 웹앱 REST API
 * 뱅크다K 웹앱 REST API : 관리자, 장부사, 고객사
 *
 * The version of the OpenAPI document: 0.5.2
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.openapitools.client.api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.openapitools.client.model.AdjustJangbuService;
import org.openapitools.client.model.AppVersion;
import java.math.BigDecimal;
import org.openapitools.client.model.ChargeJangbu;
import org.openapitools.client.model.ChargeJangbuPartnership;
import org.openapitools.client.model.CreateRoleGroupInput;
import org.openapitools.client.model.ExceptionResponse;
import org.openapitools.client.model.FindMemberInput;
import org.openapitools.client.model.FindMemberOutput;
import org.openapitools.client.model.GetAppVersionsOutput;
import org.openapitools.client.model.GetCertOutput;
import org.openapitools.client.model.GetChargeJangbuPreviewOutput;
import org.openapitools.client.model.GetErrorsResponse;
import org.openapitools.client.model.GetJangbuMessagesOutput;
import org.openapitools.client.model.GetJangbusOutput;
import org.openapitools.client.model.GetMembersOutput;
import org.openapitools.client.model.GetNotices;
import org.openapitools.client.model.GetScrapingCodesOutput;
import org.openapitools.client.model.GetServicesOutput;
import org.openapitools.client.model.GetWorkS3DataResponse;
import org.openapitools.client.model.GetWorkS3DetailLogResponse;
import org.openapitools.client.model.GetWorksOutput;
import org.openapitools.client.model.Jangbu;
import org.openapitools.client.model.LoginInput;
import org.openapitools.client.model.LoginOutput;
import org.openapitools.client.model.Message;
import org.openapitools.client.model.Notice;
import org.openapitools.client.model.OsType;
import org.openapitools.client.model.PcClientError;
import org.openapitools.client.model.ProcessFlag;
import org.openapitools.client.model.Recovery;
import org.openapitools.client.model.RefreshInput;
import org.openapitools.client.model.RefreshOutput;
import org.openapitools.client.model.RegisterAdjustOutput;
import org.openapitools.client.model.RegisterAppVersionInput;
import org.openapitools.client.model.RegisterCustomerInput;
import org.openapitools.client.model.RegisterJangbuInput;
import org.openapitools.client.model.RegisterMemberInput;
import org.openapitools.client.model.RegisterNoticeInput;
import org.openapitools.client.model.RegisterScrapingCodeVersionInput;
import org.openapitools.client.model.RegisterServiceInput;
import org.openapitools.client.model.ResetPasswordInput;
import org.openapitools.client.model.ResetPasswordOutput;
import org.openapitools.client.model.RoleGroup;
import org.openapitools.client.model.ScrapingCode;
import org.openapitools.client.model.SearchAdjustJangbuServicesOutput;
import org.openapitools.client.model.SearchChargeJangbuUserServicesOutput;
import org.openapitools.client.model.SearchChargeJangbusOutput;
import org.openapitools.client.model.SearchRoleGroupOutput;
import org.openapitools.client.model.SendChagreJangbuMailTestInput;
import org.openapitools.client.model.SendChargeJangbuMailTestOutput;
import org.openapitools.client.model.Service;
import org.openapitools.client.model.UpdateAdjustJangbuServiceInput;
import org.openapitools.client.model.UpdateAppVersionInput;
import org.openapitools.client.model.UpdateChargeJangbuPaidInput;
import org.openapitools.client.model.UpdateChargeJangbuPartnershipInput;
import org.openapitools.client.model.UpdateChargeJangbuStatusInput;
import org.openapitools.client.model.UpdateJangbuInput;
import org.openapitools.client.model.UpdateMemberInput;
import org.openapitools.client.model.UpdateRoleGroupInput;
import org.openapitools.client.model.UpdateServiceInput;
import org.openapitools.client.model.User;
import org.openapitools.client.model.Work;
import org.openapitools.client.model.WorkRequestType;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class DefaultApi {
    private ApiClient localVarApiClient;

    public DefaultApi() {
        this(Configuration.getDefaultApiClient());
    }

    public DefaultApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for adjustControllerGetChargeJangbuPartnership
     * @param jangbuId  (required)
     * @param yearMonth  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> (해당연월) 장부사의 파트너쉽 금액정보를 반환 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 장부사 파트너쉽 금액정보가 없는 경우 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call adjustControllerGetChargeJangbuPartnershipCall(BigDecimal jangbuId, BigDecimal yearMonth, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/public/api/adjust/jangbu/{jangbuId}/yearMonth/{yearMonth}/partnership"
            .replaceAll("\\{" + "jangbuId" + "\\}", localVarApiClient.escapeString(jangbuId.toString()))
            .replaceAll("\\{" + "yearMonth" + "\\}", localVarApiClient.escapeString(yearMonth.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "bearer" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call adjustControllerGetChargeJangbuPartnershipValidateBeforeCall(BigDecimal jangbuId, BigDecimal yearMonth, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'jangbuId' is set
        if (jangbuId == null) {
            throw new ApiException("Missing the required parameter 'jangbuId' when calling adjustControllerGetChargeJangbuPartnership(Async)");
        }
        
        // verify the required parameter 'yearMonth' is set
        if (yearMonth == null) {
            throw new ApiException("Missing the required parameter 'yearMonth' when calling adjustControllerGetChargeJangbuPartnership(Async)");
        }
        

        okhttp3.Call localVarCall = adjustControllerGetChargeJangbuPartnershipCall(jangbuId, yearMonth, _callback);
        return localVarCall;

    }

    /**
     * (해당연월) 장부사의 파트너쉽 금액 조회
     * (해당연월) 장부사의 파트너쉽 금액을 조회한다.
     * @param jangbuId  (required)
     * @param yearMonth  (required)
     * @return ChargeJangbuPartnership
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> (해당연월) 장부사의 파트너쉽 금액정보를 반환 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 장부사 파트너쉽 금액정보가 없는 경우 </td><td>  -  </td></tr>
     </table>
     */
    public ChargeJangbuPartnership adjustControllerGetChargeJangbuPartnership(BigDecimal jangbuId, BigDecimal yearMonth) throws ApiException {
        ApiResponse<ChargeJangbuPartnership> localVarResp = adjustControllerGetChargeJangbuPartnershipWithHttpInfo(jangbuId, yearMonth);
        return localVarResp.getData();
    }

    /**
     * (해당연월) 장부사의 파트너쉽 금액 조회
     * (해당연월) 장부사의 파트너쉽 금액을 조회한다.
     * @param jangbuId  (required)
     * @param yearMonth  (required)
     * @return ApiResponse&lt;ChargeJangbuPartnership&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> (해당연월) 장부사의 파트너쉽 금액정보를 반환 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 장부사 파트너쉽 금액정보가 없는 경우 </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ChargeJangbuPartnership> adjustControllerGetChargeJangbuPartnershipWithHttpInfo(BigDecimal jangbuId, BigDecimal yearMonth) throws ApiException {
        okhttp3.Call localVarCall = adjustControllerGetChargeJangbuPartnershipValidateBeforeCall(jangbuId, yearMonth, null);
        Type localVarReturnType = new TypeToken<ChargeJangbuPartnership>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * (해당연월) 장부사의 파트너쉽 금액 조회 (asynchronously)
     * (해당연월) 장부사의 파트너쉽 금액을 조회한다.
     * @param jangbuId  (required)
     * @param yearMonth  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> (해당연월) 장부사의 파트너쉽 금액정보를 반환 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 장부사 파트너쉽 금액정보가 없는 경우 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call adjustControllerGetChargeJangbuPartnershipAsync(BigDecimal jangbuId, BigDecimal yearMonth, final ApiCallback<ChargeJangbuPartnership> _callback) throws ApiException {

        okhttp3.Call localVarCall = adjustControllerGetChargeJangbuPartnershipValidateBeforeCall(jangbuId, yearMonth, _callback);
        Type localVarReturnType = new TypeToken<ChargeJangbuPartnership>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for adjustControllerGetChargeJangbuPreview
     * @param jangbuId 장부사 순번 (required)
     * @param yearMonth 해당연월 (YYYYMM) (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 해당연월 정산내역 미리보기 HTML내용 반환 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 장부사 또는 장부사 회원 또는 정산내역 또는 파트너쉽 정보를 찾을 수 없는경우 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call adjustControllerGetChargeJangbuPreviewCall(BigDecimal jangbuId, BigDecimal yearMonth, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/public/api/adjust/jangbu/{jangbuId}/yearMonth/{yearMonth}/preview"
            .replaceAll("\\{" + "jangbuId" + "\\}", localVarApiClient.escapeString(jangbuId.toString()))
            .replaceAll("\\{" + "yearMonth" + "\\}", localVarApiClient.escapeString(yearMonth.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "bearer" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call adjustControllerGetChargeJangbuPreviewValidateBeforeCall(BigDecimal jangbuId, BigDecimal yearMonth, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'jangbuId' is set
        if (jangbuId == null) {
            throw new ApiException("Missing the required parameter 'jangbuId' when calling adjustControllerGetChargeJangbuPreview(Async)");
        }
        
        // verify the required parameter 'yearMonth' is set
        if (yearMonth == null) {
            throw new ApiException("Missing the required parameter 'yearMonth' when calling adjustControllerGetChargeJangbuPreview(Async)");
        }
        

        okhttp3.Call localVarCall = adjustControllerGetChargeJangbuPreviewCall(jangbuId, yearMonth, _callback);
        return localVarCall;

    }

    /**
     * 
     * 해당연월의 장부사 정산내역 결과 미리보기
     * @param jangbuId 장부사 순번 (required)
     * @param yearMonth 해당연월 (YYYYMM) (required)
     * @return GetChargeJangbuPreviewOutput
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 해당연월 정산내역 미리보기 HTML내용 반환 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 장부사 또는 장부사 회원 또는 정산내역 또는 파트너쉽 정보를 찾을 수 없는경우 </td><td>  -  </td></tr>
     </table>
     */
    public GetChargeJangbuPreviewOutput adjustControllerGetChargeJangbuPreview(BigDecimal jangbuId, BigDecimal yearMonth) throws ApiException {
        ApiResponse<GetChargeJangbuPreviewOutput> localVarResp = adjustControllerGetChargeJangbuPreviewWithHttpInfo(jangbuId, yearMonth);
        return localVarResp.getData();
    }

    /**
     * 
     * 해당연월의 장부사 정산내역 결과 미리보기
     * @param jangbuId 장부사 순번 (required)
     * @param yearMonth 해당연월 (YYYYMM) (required)
     * @return ApiResponse&lt;GetChargeJangbuPreviewOutput&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 해당연월 정산내역 미리보기 HTML내용 반환 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 장부사 또는 장부사 회원 또는 정산내역 또는 파트너쉽 정보를 찾을 수 없는경우 </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<GetChargeJangbuPreviewOutput> adjustControllerGetChargeJangbuPreviewWithHttpInfo(BigDecimal jangbuId, BigDecimal yearMonth) throws ApiException {
        okhttp3.Call localVarCall = adjustControllerGetChargeJangbuPreviewValidateBeforeCall(jangbuId, yearMonth, null);
        Type localVarReturnType = new TypeToken<GetChargeJangbuPreviewOutput>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 해당연월의 장부사 정산내역 결과 미리보기
     * @param jangbuId 장부사 순번 (required)
     * @param yearMonth 해당연월 (YYYYMM) (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 해당연월 정산내역 미리보기 HTML내용 반환 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 장부사 또는 장부사 회원 또는 정산내역 또는 파트너쉽 정보를 찾을 수 없는경우 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call adjustControllerGetChargeJangbuPreviewAsync(BigDecimal jangbuId, BigDecimal yearMonth, final ApiCallback<GetChargeJangbuPreviewOutput> _callback) throws ApiException {

        okhttp3.Call localVarCall = adjustControllerGetChargeJangbuPreviewValidateBeforeCall(jangbuId, yearMonth, _callback);
        Type localVarReturnType = new TypeToken<GetChargeJangbuPreviewOutput>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for adjustControllerRegisterAdjust
     * @param jangbuId 장부사 순번 (required)
     * @param yearMonth 해당연월 (YYYYMM) (required)
     * @param step 단계 순번 (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 성공 : 삭제후 재등록된 정산내역 정보를 반환 </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 잘못된 정산등록 단계를 입력한 경우 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 장부사가 존재하지 않거나 과금대상이 아닌경우 또는 (Step2의 경우)해당연월의 장부사 서비스별 단가목록이 존재하지 않음. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> 이미 장부사에게 공개된 정산내역은 재등록이 불가능 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call adjustControllerRegisterAdjustCall(BigDecimal jangbuId, BigDecimal yearMonth, BigDecimal step, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/public/api/adjust/jangbu/{jangbuId}/yearMonth/{yearMonth}/step/{step}"
            .replaceAll("\\{" + "jangbuId" + "\\}", localVarApiClient.escapeString(jangbuId.toString()))
            .replaceAll("\\{" + "yearMonth" + "\\}", localVarApiClient.escapeString(yearMonth.toString()))
            .replaceAll("\\{" + "step" + "\\}", localVarApiClient.escapeString(step.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "bearer" };
        return localVarApiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call adjustControllerRegisterAdjustValidateBeforeCall(BigDecimal jangbuId, BigDecimal yearMonth, BigDecimal step, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'jangbuId' is set
        if (jangbuId == null) {
            throw new ApiException("Missing the required parameter 'jangbuId' when calling adjustControllerRegisterAdjust(Async)");
        }
        
        // verify the required parameter 'yearMonth' is set
        if (yearMonth == null) {
            throw new ApiException("Missing the required parameter 'yearMonth' when calling adjustControllerRegisterAdjust(Async)");
        }
        
        // verify the required parameter 'step' is set
        if (step == null) {
            throw new ApiException("Missing the required parameter 'step' when calling adjustControllerRegisterAdjust(Async)");
        }
        

        okhttp3.Call localVarCall = adjustControllerRegisterAdjustCall(jangbuId, yearMonth, step, _callback);
        return localVarCall;

    }

    /**
     * 정산 등록 (관리자 전용: 극히 일부사용자만)
     * 정산을 등록한다 (1,2 단계 순차적으로 진행)
     * @param jangbuId 장부사 순번 (required)
     * @param yearMonth 해당연월 (YYYYMM) (required)
     * @param step 단계 순번 (required)
     * @return RegisterAdjustOutput
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 성공 : 삭제후 재등록된 정산내역 정보를 반환 </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 잘못된 정산등록 단계를 입력한 경우 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 장부사가 존재하지 않거나 과금대상이 아닌경우 또는 (Step2의 경우)해당연월의 장부사 서비스별 단가목록이 존재하지 않음. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> 이미 장부사에게 공개된 정산내역은 재등록이 불가능 </td><td>  -  </td></tr>
     </table>
     */
    public RegisterAdjustOutput adjustControllerRegisterAdjust(BigDecimal jangbuId, BigDecimal yearMonth, BigDecimal step) throws ApiException {
        ApiResponse<RegisterAdjustOutput> localVarResp = adjustControllerRegisterAdjustWithHttpInfo(jangbuId, yearMonth, step);
        return localVarResp.getData();
    }

    /**
     * 정산 등록 (관리자 전용: 극히 일부사용자만)
     * 정산을 등록한다 (1,2 단계 순차적으로 진행)
     * @param jangbuId 장부사 순번 (required)
     * @param yearMonth 해당연월 (YYYYMM) (required)
     * @param step 단계 순번 (required)
     * @return ApiResponse&lt;RegisterAdjustOutput&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 성공 : 삭제후 재등록된 정산내역 정보를 반환 </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 잘못된 정산등록 단계를 입력한 경우 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 장부사가 존재하지 않거나 과금대상이 아닌경우 또는 (Step2의 경우)해당연월의 장부사 서비스별 단가목록이 존재하지 않음. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> 이미 장부사에게 공개된 정산내역은 재등록이 불가능 </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<RegisterAdjustOutput> adjustControllerRegisterAdjustWithHttpInfo(BigDecimal jangbuId, BigDecimal yearMonth, BigDecimal step) throws ApiException {
        okhttp3.Call localVarCall = adjustControllerRegisterAdjustValidateBeforeCall(jangbuId, yearMonth, step, null);
        Type localVarReturnType = new TypeToken<RegisterAdjustOutput>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * 정산 등록 (관리자 전용: 극히 일부사용자만) (asynchronously)
     * 정산을 등록한다 (1,2 단계 순차적으로 진행)
     * @param jangbuId 장부사 순번 (required)
     * @param yearMonth 해당연월 (YYYYMM) (required)
     * @param step 단계 순번 (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 성공 : 삭제후 재등록된 정산내역 정보를 반환 </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> 잘못된 정산등록 단계를 입력한 경우 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 장부사가 존재하지 않거나 과금대상이 아닌경우 또는 (Step2의 경우)해당연월의 장부사 서비스별 단가목록이 존재하지 않음. </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> 이미 장부사에게 공개된 정산내역은 재등록이 불가능 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call adjustControllerRegisterAdjustAsync(BigDecimal jangbuId, BigDecimal yearMonth, BigDecimal step, final ApiCallback<RegisterAdjustOutput> _callback) throws ApiException {

        okhttp3.Call localVarCall = adjustControllerRegisterAdjustValidateBeforeCall(jangbuId, yearMonth, step, _callback);
        Type localVarReturnType = new TypeToken<RegisterAdjustOutput>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for adjustControllerSearchAdjustJangbuServices
     * @param jangbuId 장부사 순번 (required)
     * @param yearMonth 해당연월 (YYYYMM) (required)
     * @param page 페이징 페이지 정보 (required)
     * @param limit 페이징 페이지당 목록 수 (required)
     * @param route 페이징 링크 경로 (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 성공 : 장부사 서비스별 단가목록 반환 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 존재하지 않은 정산내역 혹은 (장부사만 해당함) 해당 정산내역이 미완료 상태인 경우 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call adjustControllerSearchAdjustJangbuServicesCall(BigDecimal jangbuId, BigDecimal yearMonth, BigDecimal page, BigDecimal limit, String route, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/public/api/adjust/jangbu/{jangbuId}/yearMonth/{yearMonth}"
            .replaceAll("\\{" + "jangbuId" + "\\}", localVarApiClient.escapeString(jangbuId.toString()))
            .replaceAll("\\{" + "yearMonth" + "\\}", localVarApiClient.escapeString(yearMonth.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        if (route != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("route", route));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "bearer" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call adjustControllerSearchAdjustJangbuServicesValidateBeforeCall(BigDecimal jangbuId, BigDecimal yearMonth, BigDecimal page, BigDecimal limit, String route, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'jangbuId' is set
        if (jangbuId == null) {
            throw new ApiException("Missing the required parameter 'jangbuId' when calling adjustControllerSearchAdjustJangbuServices(Async)");
        }
        
        // verify the required parameter 'yearMonth' is set
        if (yearMonth == null) {
            throw new ApiException("Missing the required parameter 'yearMonth' when calling adjustControllerSearchAdjustJangbuServices(Async)");
        }
        
        // verify the required parameter 'page' is set
        if (page == null) {
            throw new ApiException("Missing the required parameter 'page' when calling adjustControllerSearchAdjustJangbuServices(Async)");
        }
        
        // verify the required parameter 'limit' is set
        if (limit == null) {
            throw new ApiException("Missing the required parameter 'limit' when calling adjustControllerSearchAdjustJangbuServices(Async)");
        }
        

        okhttp3.Call localVarCall = adjustControllerSearchAdjustJangbuServicesCall(jangbuId, yearMonth, page, limit, route, _callback);
        return localVarCall;

    }

    /**
     * 장부사 서비스별 단가 검색 (장부사,관리자 전용)
     * 특정 장부사의 특정연월에 해당하는 서비스별 단가를 검색한다
     * @param jangbuId 장부사 순번 (required)
     * @param yearMonth 해당연월 (YYYYMM) (required)
     * @param page 페이징 페이지 정보 (required)
     * @param limit 페이징 페이지당 목록 수 (required)
     * @param route 페이징 링크 경로 (optional)
     * @return SearchAdjustJangbuServicesOutput
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 성공 : 장부사 서비스별 단가목록 반환 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 존재하지 않은 정산내역 혹은 (장부사만 해당함) 해당 정산내역이 미완료 상태인 경우 </td><td>  -  </td></tr>
     </table>
     */
    public SearchAdjustJangbuServicesOutput adjustControllerSearchAdjustJangbuServices(BigDecimal jangbuId, BigDecimal yearMonth, BigDecimal page, BigDecimal limit, String route) throws ApiException {
        ApiResponse<SearchAdjustJangbuServicesOutput> localVarResp = adjustControllerSearchAdjustJangbuServicesWithHttpInfo(jangbuId, yearMonth, page, limit, route);
        return localVarResp.getData();
    }

    /**
     * 장부사 서비스별 단가 검색 (장부사,관리자 전용)
     * 특정 장부사의 특정연월에 해당하는 서비스별 단가를 검색한다
     * @param jangbuId 장부사 순번 (required)
     * @param yearMonth 해당연월 (YYYYMM) (required)
     * @param page 페이징 페이지 정보 (required)
     * @param limit 페이징 페이지당 목록 수 (required)
     * @param route 페이징 링크 경로 (optional)
     * @return ApiResponse&lt;SearchAdjustJangbuServicesOutput&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 성공 : 장부사 서비스별 단가목록 반환 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 존재하지 않은 정산내역 혹은 (장부사만 해당함) 해당 정산내역이 미완료 상태인 경우 </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<SearchAdjustJangbuServicesOutput> adjustControllerSearchAdjustJangbuServicesWithHttpInfo(BigDecimal jangbuId, BigDecimal yearMonth, BigDecimal page, BigDecimal limit, String route) throws ApiException {
        okhttp3.Call localVarCall = adjustControllerSearchAdjustJangbuServicesValidateBeforeCall(jangbuId, yearMonth, page, limit, route, null);
        Type localVarReturnType = new TypeToken<SearchAdjustJangbuServicesOutput>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * 장부사 서비스별 단가 검색 (장부사,관리자 전용) (asynchronously)
     * 특정 장부사의 특정연월에 해당하는 서비스별 단가를 검색한다
     * @param jangbuId 장부사 순번 (required)
     * @param yearMonth 해당연월 (YYYYMM) (required)
     * @param page 페이징 페이지 정보 (required)
     * @param limit 페이징 페이지당 목록 수 (required)
     * @param route 페이징 링크 경로 (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 성공 : 장부사 서비스별 단가목록 반환 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 존재하지 않은 정산내역 혹은 (장부사만 해당함) 해당 정산내역이 미완료 상태인 경우 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call adjustControllerSearchAdjustJangbuServicesAsync(BigDecimal jangbuId, BigDecimal yearMonth, BigDecimal page, BigDecimal limit, String route, final ApiCallback<SearchAdjustJangbuServicesOutput> _callback) throws ApiException {

        okhttp3.Call localVarCall = adjustControllerSearchAdjustJangbuServicesValidateBeforeCall(jangbuId, yearMonth, page, limit, route, _callback);
        Type localVarReturnType = new TypeToken<SearchAdjustJangbuServicesOutput>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for adjustControllerSearchChargeJangbuFromJangbu
     * @param jangbuId 장부사 순번 (required)
     * @param page 페이징 페이지 정보 (required)
     * @param limit 페이징 페이지당 목록 수 (required)
     * @param route 페이징 링크 경로 (optional)
     * @param yearMonth 정산연월 (YYYYMM) (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 성공 : 장부사별 정산내역 목록 반환 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call adjustControllerSearchChargeJangbuFromJangbuCall(BigDecimal jangbuId, BigDecimal page, BigDecimal limit, String route, BigDecimal yearMonth, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/public/api/adjust/jangbu/{jangbuId}"
            .replaceAll("\\{" + "jangbuId" + "\\}", localVarApiClient.escapeString(jangbuId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        if (route != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("route", route));
        }

        if (yearMonth != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("yearMonth", yearMonth));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "bearer" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call adjustControllerSearchChargeJangbuFromJangbuValidateBeforeCall(BigDecimal jangbuId, BigDecimal page, BigDecimal limit, String route, BigDecimal yearMonth, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'jangbuId' is set
        if (jangbuId == null) {
            throw new ApiException("Missing the required parameter 'jangbuId' when calling adjustControllerSearchChargeJangbuFromJangbu(Async)");
        }
        
        // verify the required parameter 'page' is set
        if (page == null) {
            throw new ApiException("Missing the required parameter 'page' when calling adjustControllerSearchChargeJangbuFromJangbu(Async)");
        }
        
        // verify the required parameter 'limit' is set
        if (limit == null) {
            throw new ApiException("Missing the required parameter 'limit' when calling adjustControllerSearchChargeJangbuFromJangbu(Async)");
        }
        

        okhttp3.Call localVarCall = adjustControllerSearchChargeJangbuFromJangbuCall(jangbuId, page, limit, route, yearMonth, _callback);
        return localVarCall;

    }

    /**
     * (특정 장부사의) 정산목록 검색 (장부사 전용)
     * (특정 장부사의) 특정 정산목록을 검색한다
     * @param jangbuId 장부사 순번 (required)
     * @param page 페이징 페이지 정보 (required)
     * @param limit 페이징 페이지당 목록 수 (required)
     * @param route 페이징 링크 경로 (optional)
     * @param yearMonth 정산연월 (YYYYMM) (optional)
     * @return SearchChargeJangbusOutput
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 성공 : 장부사별 정산내역 목록 반환 </td><td>  -  </td></tr>
     </table>
     */
    public SearchChargeJangbusOutput adjustControllerSearchChargeJangbuFromJangbu(BigDecimal jangbuId, BigDecimal page, BigDecimal limit, String route, BigDecimal yearMonth) throws ApiException {
        ApiResponse<SearchChargeJangbusOutput> localVarResp = adjustControllerSearchChargeJangbuFromJangbuWithHttpInfo(jangbuId, page, limit, route, yearMonth);
        return localVarResp.getData();
    }

    /**
     * (특정 장부사의) 정산목록 검색 (장부사 전용)
     * (특정 장부사의) 특정 정산목록을 검색한다
     * @param jangbuId 장부사 순번 (required)
     * @param page 페이징 페이지 정보 (required)
     * @param limit 페이징 페이지당 목록 수 (required)
     * @param route 페이징 링크 경로 (optional)
     * @param yearMonth 정산연월 (YYYYMM) (optional)
     * @return ApiResponse&lt;SearchChargeJangbusOutput&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 성공 : 장부사별 정산내역 목록 반환 </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<SearchChargeJangbusOutput> adjustControllerSearchChargeJangbuFromJangbuWithHttpInfo(BigDecimal jangbuId, BigDecimal page, BigDecimal limit, String route, BigDecimal yearMonth) throws ApiException {
        okhttp3.Call localVarCall = adjustControllerSearchChargeJangbuFromJangbuValidateBeforeCall(jangbuId, page, limit, route, yearMonth, null);
        Type localVarReturnType = new TypeToken<SearchChargeJangbusOutput>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * (특정 장부사의) 정산목록 검색 (장부사 전용) (asynchronously)
     * (특정 장부사의) 특정 정산목록을 검색한다
     * @param jangbuId 장부사 순번 (required)
     * @param page 페이징 페이지 정보 (required)
     * @param limit 페이징 페이지당 목록 수 (required)
     * @param route 페이징 링크 경로 (optional)
     * @param yearMonth 정산연월 (YYYYMM) (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 성공 : 장부사별 정산내역 목록 반환 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call adjustControllerSearchChargeJangbuFromJangbuAsync(BigDecimal jangbuId, BigDecimal page, BigDecimal limit, String route, BigDecimal yearMonth, final ApiCallback<SearchChargeJangbusOutput> _callback) throws ApiException {

        okhttp3.Call localVarCall = adjustControllerSearchChargeJangbuFromJangbuValidateBeforeCall(jangbuId, page, limit, route, yearMonth, _callback);
        Type localVarReturnType = new TypeToken<SearchChargeJangbusOutput>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for adjustControllerSearchChargeJangbuUserServices
     * @param jangbuId 장부사 순번 (required)
     * @param yearMonth 해당연월 (YYYYMM) (required)
     * @param serviceId 서비스 순번 (required)
     * @param page 페이징 페이지 정보 (required)
     * @param limit 페이징 페이지당 목록 수 (required)
     * @param route 페이징 링크 경로 (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 성공 : 장부사 서비스 회원별 요금목록 반환 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 존재하지 않은 정산내역 혹은 (장부사만 해당함) 해당 정산내역이 미완료 상태인 경우 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call adjustControllerSearchChargeJangbuUserServicesCall(BigDecimal jangbuId, BigDecimal yearMonth, BigDecimal serviceId, BigDecimal page, BigDecimal limit, String route, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/public/api/adjust/jangbu/{jangbuId}/yearMonth/{yearMonth}/service/{serviceId}"
            .replaceAll("\\{" + "jangbuId" + "\\}", localVarApiClient.escapeString(jangbuId.toString()))
            .replaceAll("\\{" + "yearMonth" + "\\}", localVarApiClient.escapeString(yearMonth.toString()))
            .replaceAll("\\{" + "serviceId" + "\\}", localVarApiClient.escapeString(serviceId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        if (route != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("route", route));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "bearer" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call adjustControllerSearchChargeJangbuUserServicesValidateBeforeCall(BigDecimal jangbuId, BigDecimal yearMonth, BigDecimal serviceId, BigDecimal page, BigDecimal limit, String route, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'jangbuId' is set
        if (jangbuId == null) {
            throw new ApiException("Missing the required parameter 'jangbuId' when calling adjustControllerSearchChargeJangbuUserServices(Async)");
        }
        
        // verify the required parameter 'yearMonth' is set
        if (yearMonth == null) {
            throw new ApiException("Missing the required parameter 'yearMonth' when calling adjustControllerSearchChargeJangbuUserServices(Async)");
        }
        
        // verify the required parameter 'serviceId' is set
        if (serviceId == null) {
            throw new ApiException("Missing the required parameter 'serviceId' when calling adjustControllerSearchChargeJangbuUserServices(Async)");
        }
        
        // verify the required parameter 'page' is set
        if (page == null) {
            throw new ApiException("Missing the required parameter 'page' when calling adjustControllerSearchChargeJangbuUserServices(Async)");
        }
        
        // verify the required parameter 'limit' is set
        if (limit == null) {
            throw new ApiException("Missing the required parameter 'limit' when calling adjustControllerSearchChargeJangbuUserServices(Async)");
        }
        

        okhttp3.Call localVarCall = adjustControllerSearchChargeJangbuUserServicesCall(jangbuId, yearMonth, serviceId, page, limit, route, _callback);
        return localVarCall;

    }

    /**
     * 장부사 특정 서비스 회원별 요금목록 검색 (장부사,관리자 전용)
     * 장부사 특정 서비스 회원별 요금목록을 검색한다
     * @param jangbuId 장부사 순번 (required)
     * @param yearMonth 해당연월 (YYYYMM) (required)
     * @param serviceId 서비스 순번 (required)
     * @param page 페이징 페이지 정보 (required)
     * @param limit 페이징 페이지당 목록 수 (required)
     * @param route 페이징 링크 경로 (optional)
     * @return SearchChargeJangbuUserServicesOutput
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 성공 : 장부사 서비스 회원별 요금목록 반환 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 존재하지 않은 정산내역 혹은 (장부사만 해당함) 해당 정산내역이 미완료 상태인 경우 </td><td>  -  </td></tr>
     </table>
     */
    public SearchChargeJangbuUserServicesOutput adjustControllerSearchChargeJangbuUserServices(BigDecimal jangbuId, BigDecimal yearMonth, BigDecimal serviceId, BigDecimal page, BigDecimal limit, String route) throws ApiException {
        ApiResponse<SearchChargeJangbuUserServicesOutput> localVarResp = adjustControllerSearchChargeJangbuUserServicesWithHttpInfo(jangbuId, yearMonth, serviceId, page, limit, route);
        return localVarResp.getData();
    }

    /**
     * 장부사 특정 서비스 회원별 요금목록 검색 (장부사,관리자 전용)
     * 장부사 특정 서비스 회원별 요금목록을 검색한다
     * @param jangbuId 장부사 순번 (required)
     * @param yearMonth 해당연월 (YYYYMM) (required)
     * @param serviceId 서비스 순번 (required)
     * @param page 페이징 페이지 정보 (required)
     * @param limit 페이징 페이지당 목록 수 (required)
     * @param route 페이징 링크 경로 (optional)
     * @return ApiResponse&lt;SearchChargeJangbuUserServicesOutput&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 성공 : 장부사 서비스 회원별 요금목록 반환 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 존재하지 않은 정산내역 혹은 (장부사만 해당함) 해당 정산내역이 미완료 상태인 경우 </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<SearchChargeJangbuUserServicesOutput> adjustControllerSearchChargeJangbuUserServicesWithHttpInfo(BigDecimal jangbuId, BigDecimal yearMonth, BigDecimal serviceId, BigDecimal page, BigDecimal limit, String route) throws ApiException {
        okhttp3.Call localVarCall = adjustControllerSearchChargeJangbuUserServicesValidateBeforeCall(jangbuId, yearMonth, serviceId, page, limit, route, null);
        Type localVarReturnType = new TypeToken<SearchChargeJangbuUserServicesOutput>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * 장부사 특정 서비스 회원별 요금목록 검색 (장부사,관리자 전용) (asynchronously)
     * 장부사 특정 서비스 회원별 요금목록을 검색한다
     * @param jangbuId 장부사 순번 (required)
     * @param yearMonth 해당연월 (YYYYMM) (required)
     * @param serviceId 서비스 순번 (required)
     * @param page 페이징 페이지 정보 (required)
     * @param limit 페이징 페이지당 목록 수 (required)
     * @param route 페이징 링크 경로 (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 성공 : 장부사 서비스 회원별 요금목록 반환 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 존재하지 않은 정산내역 혹은 (장부사만 해당함) 해당 정산내역이 미완료 상태인 경우 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call adjustControllerSearchChargeJangbuUserServicesAsync(BigDecimal jangbuId, BigDecimal yearMonth, BigDecimal serviceId, BigDecimal page, BigDecimal limit, String route, final ApiCallback<SearchChargeJangbuUserServicesOutput> _callback) throws ApiException {

        okhttp3.Call localVarCall = adjustControllerSearchChargeJangbuUserServicesValidateBeforeCall(jangbuId, yearMonth, serviceId, page, limit, route, _callback);
        Type localVarReturnType = new TypeToken<SearchChargeJangbuUserServicesOutput>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for adjustControllerSearchChargeJangbus
     * @param page 페이징 페이지 정보 (required)
     * @param limit 페이징 페이지당 목록 수 (required)
     * @param route 페이징 링크 경로 (optional)
     * @param jangbuId 장부사 순번 (optional)
     * @param yearMonth 정산연월 (YYYYMM) (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 성공 : 전체 장부사 정산내역 목록을 반환 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call adjustControllerSearchChargeJangbusCall(BigDecimal page, BigDecimal limit, String route, BigDecimal jangbuId, BigDecimal yearMonth, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/public/api/adjust";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        if (route != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("route", route));
        }

        if (jangbuId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("jangbuId", jangbuId));
        }

        if (yearMonth != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("yearMonth", yearMonth));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "bearer" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call adjustControllerSearchChargeJangbusValidateBeforeCall(BigDecimal page, BigDecimal limit, String route, BigDecimal jangbuId, BigDecimal yearMonth, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'page' is set
        if (page == null) {
            throw new ApiException("Missing the required parameter 'page' when calling adjustControllerSearchChargeJangbus(Async)");
        }
        
        // verify the required parameter 'limit' is set
        if (limit == null) {
            throw new ApiException("Missing the required parameter 'limit' when calling adjustControllerSearchChargeJangbus(Async)");
        }
        

        okhttp3.Call localVarCall = adjustControllerSearchChargeJangbusCall(page, limit, route, jangbuId, yearMonth, _callback);
        return localVarCall;

    }

    /**
     * 정산내역 목록 검색 (관리자 전용)
     * 정산내역 목록을 검색한다
     * @param page 페이징 페이지 정보 (required)
     * @param limit 페이징 페이지당 목록 수 (required)
     * @param route 페이징 링크 경로 (optional)
     * @param jangbuId 장부사 순번 (optional)
     * @param yearMonth 정산연월 (YYYYMM) (optional)
     * @return SearchChargeJangbusOutput
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 성공 : 전체 장부사 정산내역 목록을 반환 </td><td>  -  </td></tr>
     </table>
     */
    public SearchChargeJangbusOutput adjustControllerSearchChargeJangbus(BigDecimal page, BigDecimal limit, String route, BigDecimal jangbuId, BigDecimal yearMonth) throws ApiException {
        ApiResponse<SearchChargeJangbusOutput> localVarResp = adjustControllerSearchChargeJangbusWithHttpInfo(page, limit, route, jangbuId, yearMonth);
        return localVarResp.getData();
    }

    /**
     * 정산내역 목록 검색 (관리자 전용)
     * 정산내역 목록을 검색한다
     * @param page 페이징 페이지 정보 (required)
     * @param limit 페이징 페이지당 목록 수 (required)
     * @param route 페이징 링크 경로 (optional)
     * @param jangbuId 장부사 순번 (optional)
     * @param yearMonth 정산연월 (YYYYMM) (optional)
     * @return ApiResponse&lt;SearchChargeJangbusOutput&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 성공 : 전체 장부사 정산내역 목록을 반환 </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<SearchChargeJangbusOutput> adjustControllerSearchChargeJangbusWithHttpInfo(BigDecimal page, BigDecimal limit, String route, BigDecimal jangbuId, BigDecimal yearMonth) throws ApiException {
        okhttp3.Call localVarCall = adjustControllerSearchChargeJangbusValidateBeforeCall(page, limit, route, jangbuId, yearMonth, null);
        Type localVarReturnType = new TypeToken<SearchChargeJangbusOutput>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * 정산내역 목록 검색 (관리자 전용) (asynchronously)
     * 정산내역 목록을 검색한다
     * @param page 페이징 페이지 정보 (required)
     * @param limit 페이징 페이지당 목록 수 (required)
     * @param route 페이징 링크 경로 (optional)
     * @param jangbuId 장부사 순번 (optional)
     * @param yearMonth 정산연월 (YYYYMM) (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 성공 : 전체 장부사 정산내역 목록을 반환 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call adjustControllerSearchChargeJangbusAsync(BigDecimal page, BigDecimal limit, String route, BigDecimal jangbuId, BigDecimal yearMonth, final ApiCallback<SearchChargeJangbusOutput> _callback) throws ApiException {

        okhttp3.Call localVarCall = adjustControllerSearchChargeJangbusValidateBeforeCall(page, limit, route, jangbuId, yearMonth, _callback);
        Type localVarReturnType = new TypeToken<SearchChargeJangbusOutput>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for adjustControllerSendChargeJangbuMailTest
     * @param jangbuId 장부사 순번 (required)
     * @param yearMonth 해당연월 (YYYYMM) (required)
     * @param sendChagreJangbuMailTestInput  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 해당연월의 정산내역 결과 테스트 메일을 전송한다 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 장부사 또는 장부사 회원 또는 정산내역 또는 파트너쉽 정보를 찾을 수 없는경우 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call adjustControllerSendChargeJangbuMailTestCall(BigDecimal jangbuId, BigDecimal yearMonth, SendChagreJangbuMailTestInput sendChagreJangbuMailTestInput, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = sendChagreJangbuMailTestInput;

        // create path and map variables
        String localVarPath = "/public/api/adjust/jangbu/{jangbuId}/yearMonth/{yearMonth}/testmail"
            .replaceAll("\\{" + "jangbuId" + "\\}", localVarApiClient.escapeString(jangbuId.toString()))
            .replaceAll("\\{" + "yearMonth" + "\\}", localVarApiClient.escapeString(yearMonth.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "bearer" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call adjustControllerSendChargeJangbuMailTestValidateBeforeCall(BigDecimal jangbuId, BigDecimal yearMonth, SendChagreJangbuMailTestInput sendChagreJangbuMailTestInput, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'jangbuId' is set
        if (jangbuId == null) {
            throw new ApiException("Missing the required parameter 'jangbuId' when calling adjustControllerSendChargeJangbuMailTest(Async)");
        }
        
        // verify the required parameter 'yearMonth' is set
        if (yearMonth == null) {
            throw new ApiException("Missing the required parameter 'yearMonth' when calling adjustControllerSendChargeJangbuMailTest(Async)");
        }
        
        // verify the required parameter 'sendChagreJangbuMailTestInput' is set
        if (sendChagreJangbuMailTestInput == null) {
            throw new ApiException("Missing the required parameter 'sendChagreJangbuMailTestInput' when calling adjustControllerSendChargeJangbuMailTest(Async)");
        }
        

        okhttp3.Call localVarCall = adjustControllerSendChargeJangbuMailTestCall(jangbuId, yearMonth, sendChagreJangbuMailTestInput, _callback);
        return localVarCall;

    }

    /**
     * 
     * 해당연월의 정산내역 결과 테스트 메일 전송
     * @param jangbuId 장부사 순번 (required)
     * @param yearMonth 해당연월 (YYYYMM) (required)
     * @param sendChagreJangbuMailTestInput  (required)
     * @return SendChargeJangbuMailTestOutput
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 해당연월의 정산내역 결과 테스트 메일을 전송한다 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 장부사 또는 장부사 회원 또는 정산내역 또는 파트너쉽 정보를 찾을 수 없는경우 </td><td>  -  </td></tr>
     </table>
     */
    public SendChargeJangbuMailTestOutput adjustControllerSendChargeJangbuMailTest(BigDecimal jangbuId, BigDecimal yearMonth, SendChagreJangbuMailTestInput sendChagreJangbuMailTestInput) throws ApiException {
        ApiResponse<SendChargeJangbuMailTestOutput> localVarResp = adjustControllerSendChargeJangbuMailTestWithHttpInfo(jangbuId, yearMonth, sendChagreJangbuMailTestInput);
        return localVarResp.getData();
    }

    /**
     * 
     * 해당연월의 정산내역 결과 테스트 메일 전송
     * @param jangbuId 장부사 순번 (required)
     * @param yearMonth 해당연월 (YYYYMM) (required)
     * @param sendChagreJangbuMailTestInput  (required)
     * @return ApiResponse&lt;SendChargeJangbuMailTestOutput&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 해당연월의 정산내역 결과 테스트 메일을 전송한다 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 장부사 또는 장부사 회원 또는 정산내역 또는 파트너쉽 정보를 찾을 수 없는경우 </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<SendChargeJangbuMailTestOutput> adjustControllerSendChargeJangbuMailTestWithHttpInfo(BigDecimal jangbuId, BigDecimal yearMonth, SendChagreJangbuMailTestInput sendChagreJangbuMailTestInput) throws ApiException {
        okhttp3.Call localVarCall = adjustControllerSendChargeJangbuMailTestValidateBeforeCall(jangbuId, yearMonth, sendChagreJangbuMailTestInput, null);
        Type localVarReturnType = new TypeToken<SendChargeJangbuMailTestOutput>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 해당연월의 정산내역 결과 테스트 메일 전송
     * @param jangbuId 장부사 순번 (required)
     * @param yearMonth 해당연월 (YYYYMM) (required)
     * @param sendChagreJangbuMailTestInput  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 해당연월의 정산내역 결과 테스트 메일을 전송한다 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 장부사 또는 장부사 회원 또는 정산내역 또는 파트너쉽 정보를 찾을 수 없는경우 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call adjustControllerSendChargeJangbuMailTestAsync(BigDecimal jangbuId, BigDecimal yearMonth, SendChagreJangbuMailTestInput sendChagreJangbuMailTestInput, final ApiCallback<SendChargeJangbuMailTestOutput> _callback) throws ApiException {

        okhttp3.Call localVarCall = adjustControllerSendChargeJangbuMailTestValidateBeforeCall(jangbuId, yearMonth, sendChagreJangbuMailTestInput, _callback);
        Type localVarReturnType = new TypeToken<SendChargeJangbuMailTestOutput>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for adjustControllerUpdateAdjustJangbuService
     * @param jangbuId  (required)
     * @param yearMonth  (required)
     * @param serviceId  (required)
     * @param updateAdjustJangbuServiceInput  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> (수정된) 해당연월 장부사 특정 서비스 단가를 반환 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 해당 장부사 서비스별 단가내역이 존재하지 않는 경우 </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> 이미 장부사에게 공개된 정산내역의 경우 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call adjustControllerUpdateAdjustJangbuServiceCall(BigDecimal jangbuId, BigDecimal yearMonth, BigDecimal serviceId, UpdateAdjustJangbuServiceInput updateAdjustJangbuServiceInput, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = updateAdjustJangbuServiceInput;

        // create path and map variables
        String localVarPath = "/public/api/adjust/jangbu/{jangbuId}/yearMonth/{yearMonth}/service/{serviceId}"
            .replaceAll("\\{" + "jangbuId" + "\\}", localVarApiClient.escapeString(jangbuId.toString()))
            .replaceAll("\\{" + "yearMonth" + "\\}", localVarApiClient.escapeString(yearMonth.toString()))
            .replaceAll("\\{" + "serviceId" + "\\}", localVarApiClient.escapeString(serviceId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "bearer" };
        return localVarApiClient.buildCall(localVarPath, "PATCH", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call adjustControllerUpdateAdjustJangbuServiceValidateBeforeCall(BigDecimal jangbuId, BigDecimal yearMonth, BigDecimal serviceId, UpdateAdjustJangbuServiceInput updateAdjustJangbuServiceInput, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'jangbuId' is set
        if (jangbuId == null) {
            throw new ApiException("Missing the required parameter 'jangbuId' when calling adjustControllerUpdateAdjustJangbuService(Async)");
        }
        
        // verify the required parameter 'yearMonth' is set
        if (yearMonth == null) {
            throw new ApiException("Missing the required parameter 'yearMonth' when calling adjustControllerUpdateAdjustJangbuService(Async)");
        }
        
        // verify the required parameter 'serviceId' is set
        if (serviceId == null) {
            throw new ApiException("Missing the required parameter 'serviceId' when calling adjustControllerUpdateAdjustJangbuService(Async)");
        }
        
        // verify the required parameter 'updateAdjustJangbuServiceInput' is set
        if (updateAdjustJangbuServiceInput == null) {
            throw new ApiException("Missing the required parameter 'updateAdjustJangbuServiceInput' when calling adjustControllerUpdateAdjustJangbuService(Async)");
        }
        

        okhttp3.Call localVarCall = adjustControllerUpdateAdjustJangbuServiceCall(jangbuId, yearMonth, serviceId, updateAdjustJangbuServiceInput, _callback);
        return localVarCall;

    }

    /**
     * (해당연월) 장부사 특정 서비스 단가를 수정
     * (해당연월) 장부사 특정 서비스 단가를 수정한다.
     * @param jangbuId  (required)
     * @param yearMonth  (required)
     * @param serviceId  (required)
     * @param updateAdjustJangbuServiceInput  (required)
     * @return AdjustJangbuService
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> (수정된) 해당연월 장부사 특정 서비스 단가를 반환 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 해당 장부사 서비스별 단가내역이 존재하지 않는 경우 </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> 이미 장부사에게 공개된 정산내역의 경우 </td><td>  -  </td></tr>
     </table>
     */
    public AdjustJangbuService adjustControllerUpdateAdjustJangbuService(BigDecimal jangbuId, BigDecimal yearMonth, BigDecimal serviceId, UpdateAdjustJangbuServiceInput updateAdjustJangbuServiceInput) throws ApiException {
        ApiResponse<AdjustJangbuService> localVarResp = adjustControllerUpdateAdjustJangbuServiceWithHttpInfo(jangbuId, yearMonth, serviceId, updateAdjustJangbuServiceInput);
        return localVarResp.getData();
    }

    /**
     * (해당연월) 장부사 특정 서비스 단가를 수정
     * (해당연월) 장부사 특정 서비스 단가를 수정한다.
     * @param jangbuId  (required)
     * @param yearMonth  (required)
     * @param serviceId  (required)
     * @param updateAdjustJangbuServiceInput  (required)
     * @return ApiResponse&lt;AdjustJangbuService&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> (수정된) 해당연월 장부사 특정 서비스 단가를 반환 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 해당 장부사 서비스별 단가내역이 존재하지 않는 경우 </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> 이미 장부사에게 공개된 정산내역의 경우 </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<AdjustJangbuService> adjustControllerUpdateAdjustJangbuServiceWithHttpInfo(BigDecimal jangbuId, BigDecimal yearMonth, BigDecimal serviceId, UpdateAdjustJangbuServiceInput updateAdjustJangbuServiceInput) throws ApiException {
        okhttp3.Call localVarCall = adjustControllerUpdateAdjustJangbuServiceValidateBeforeCall(jangbuId, yearMonth, serviceId, updateAdjustJangbuServiceInput, null);
        Type localVarReturnType = new TypeToken<AdjustJangbuService>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * (해당연월) 장부사 특정 서비스 단가를 수정 (asynchronously)
     * (해당연월) 장부사 특정 서비스 단가를 수정한다.
     * @param jangbuId  (required)
     * @param yearMonth  (required)
     * @param serviceId  (required)
     * @param updateAdjustJangbuServiceInput  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> (수정된) 해당연월 장부사 특정 서비스 단가를 반환 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 해당 장부사 서비스별 단가내역이 존재하지 않는 경우 </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> 이미 장부사에게 공개된 정산내역의 경우 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call adjustControllerUpdateAdjustJangbuServiceAsync(BigDecimal jangbuId, BigDecimal yearMonth, BigDecimal serviceId, UpdateAdjustJangbuServiceInput updateAdjustJangbuServiceInput, final ApiCallback<AdjustJangbuService> _callback) throws ApiException {

        okhttp3.Call localVarCall = adjustControllerUpdateAdjustJangbuServiceValidateBeforeCall(jangbuId, yearMonth, serviceId, updateAdjustJangbuServiceInput, _callback);
        Type localVarReturnType = new TypeToken<AdjustJangbuService>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for adjustControllerUpdateChargeJangbuPaid
     * @param jangbuId 장부사 순번 (required)
     * @param yearMonth 해당연월 (YYYYMM) (required)
     * @param updateChargeJangbuPaidInput  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 성공 : 업데이트된 정산내역 정보를 반환 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 정산내역이 존재하지 않음 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call adjustControllerUpdateChargeJangbuPaidCall(BigDecimal jangbuId, BigDecimal yearMonth, UpdateChargeJangbuPaidInput updateChargeJangbuPaidInput, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = updateChargeJangbuPaidInput;

        // create path and map variables
        String localVarPath = "/public/api/adjust/jangbu/{jangbuId}/yearMonth/{yearMonth}/paid"
            .replaceAll("\\{" + "jangbuId" + "\\}", localVarApiClient.escapeString(jangbuId.toString()))
            .replaceAll("\\{" + "yearMonth" + "\\}", localVarApiClient.escapeString(yearMonth.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "bearer" };
        return localVarApiClient.buildCall(localVarPath, "PATCH", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call adjustControllerUpdateChargeJangbuPaidValidateBeforeCall(BigDecimal jangbuId, BigDecimal yearMonth, UpdateChargeJangbuPaidInput updateChargeJangbuPaidInput, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'jangbuId' is set
        if (jangbuId == null) {
            throw new ApiException("Missing the required parameter 'jangbuId' when calling adjustControllerUpdateChargeJangbuPaid(Async)");
        }
        
        // verify the required parameter 'yearMonth' is set
        if (yearMonth == null) {
            throw new ApiException("Missing the required parameter 'yearMonth' when calling adjustControllerUpdateChargeJangbuPaid(Async)");
        }
        
        // verify the required parameter 'updateChargeJangbuPaidInput' is set
        if (updateChargeJangbuPaidInput == null) {
            throw new ApiException("Missing the required parameter 'updateChargeJangbuPaidInput' when calling adjustControllerUpdateChargeJangbuPaid(Async)");
        }
        

        okhttp3.Call localVarCall = adjustControllerUpdateChargeJangbuPaidCall(jangbuId, yearMonth, updateChargeJangbuPaidInput, _callback);
        return localVarCall;

    }

    /**
     * 정산내역 수납여부 업데이트 (관리자 전용: 극히 일부사용자만)
     * 정산내역의 수납여부를 업데이트 한다
     * @param jangbuId 장부사 순번 (required)
     * @param yearMonth 해당연월 (YYYYMM) (required)
     * @param updateChargeJangbuPaidInput  (required)
     * @return ChargeJangbu
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 성공 : 업데이트된 정산내역 정보를 반환 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 정산내역이 존재하지 않음 </td><td>  -  </td></tr>
     </table>
     */
    public ChargeJangbu adjustControllerUpdateChargeJangbuPaid(BigDecimal jangbuId, BigDecimal yearMonth, UpdateChargeJangbuPaidInput updateChargeJangbuPaidInput) throws ApiException {
        ApiResponse<ChargeJangbu> localVarResp = adjustControllerUpdateChargeJangbuPaidWithHttpInfo(jangbuId, yearMonth, updateChargeJangbuPaidInput);
        return localVarResp.getData();
    }

    /**
     * 정산내역 수납여부 업데이트 (관리자 전용: 극히 일부사용자만)
     * 정산내역의 수납여부를 업데이트 한다
     * @param jangbuId 장부사 순번 (required)
     * @param yearMonth 해당연월 (YYYYMM) (required)
     * @param updateChargeJangbuPaidInput  (required)
     * @return ApiResponse&lt;ChargeJangbu&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 성공 : 업데이트된 정산내역 정보를 반환 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 정산내역이 존재하지 않음 </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ChargeJangbu> adjustControllerUpdateChargeJangbuPaidWithHttpInfo(BigDecimal jangbuId, BigDecimal yearMonth, UpdateChargeJangbuPaidInput updateChargeJangbuPaidInput) throws ApiException {
        okhttp3.Call localVarCall = adjustControllerUpdateChargeJangbuPaidValidateBeforeCall(jangbuId, yearMonth, updateChargeJangbuPaidInput, null);
        Type localVarReturnType = new TypeToken<ChargeJangbu>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * 정산내역 수납여부 업데이트 (관리자 전용: 극히 일부사용자만) (asynchronously)
     * 정산내역의 수납여부를 업데이트 한다
     * @param jangbuId 장부사 순번 (required)
     * @param yearMonth 해당연월 (YYYYMM) (required)
     * @param updateChargeJangbuPaidInput  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 성공 : 업데이트된 정산내역 정보를 반환 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 정산내역이 존재하지 않음 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call adjustControllerUpdateChargeJangbuPaidAsync(BigDecimal jangbuId, BigDecimal yearMonth, UpdateChargeJangbuPaidInput updateChargeJangbuPaidInput, final ApiCallback<ChargeJangbu> _callback) throws ApiException {

        okhttp3.Call localVarCall = adjustControllerUpdateChargeJangbuPaidValidateBeforeCall(jangbuId, yearMonth, updateChargeJangbuPaidInput, _callback);
        Type localVarReturnType = new TypeToken<ChargeJangbu>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for adjustControllerUpdateChargeJangbuPartnership
     * @param jangbuId  (required)
     * @param yearMonth  (required)
     * @param updateChargeJangbuPartnershipInput  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> (수정된) 장부사의 파트너쉽 금액정보를 반환 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 장부사 파트너쉽 금액정보가 없는 경우 </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> 이미 장부사에게 공개된 정산내역의 경우 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call adjustControllerUpdateChargeJangbuPartnershipCall(BigDecimal jangbuId, BigDecimal yearMonth, UpdateChargeJangbuPartnershipInput updateChargeJangbuPartnershipInput, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = updateChargeJangbuPartnershipInput;

        // create path and map variables
        String localVarPath = "/public/api/adjust/jangbu/{jangbuId}/yearMonth/{yearMonth}/partnership"
            .replaceAll("\\{" + "jangbuId" + "\\}", localVarApiClient.escapeString(jangbuId.toString()))
            .replaceAll("\\{" + "yearMonth" + "\\}", localVarApiClient.escapeString(yearMonth.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "bearer" };
        return localVarApiClient.buildCall(localVarPath, "PATCH", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call adjustControllerUpdateChargeJangbuPartnershipValidateBeforeCall(BigDecimal jangbuId, BigDecimal yearMonth, UpdateChargeJangbuPartnershipInput updateChargeJangbuPartnershipInput, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'jangbuId' is set
        if (jangbuId == null) {
            throw new ApiException("Missing the required parameter 'jangbuId' when calling adjustControllerUpdateChargeJangbuPartnership(Async)");
        }
        
        // verify the required parameter 'yearMonth' is set
        if (yearMonth == null) {
            throw new ApiException("Missing the required parameter 'yearMonth' when calling adjustControllerUpdateChargeJangbuPartnership(Async)");
        }
        
        // verify the required parameter 'updateChargeJangbuPartnershipInput' is set
        if (updateChargeJangbuPartnershipInput == null) {
            throw new ApiException("Missing the required parameter 'updateChargeJangbuPartnershipInput' when calling adjustControllerUpdateChargeJangbuPartnership(Async)");
        }
        

        okhttp3.Call localVarCall = adjustControllerUpdateChargeJangbuPartnershipCall(jangbuId, yearMonth, updateChargeJangbuPartnershipInput, _callback);
        return localVarCall;

    }

    /**
     * (해당연월) 장부사의 파트너쉽 금액 수정
     * (해당연월) 장부사의 파트너쉽 금액을 수정한다.
     * @param jangbuId  (required)
     * @param yearMonth  (required)
     * @param updateChargeJangbuPartnershipInput  (required)
     * @return ChargeJangbuPartnership
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> (수정된) 장부사의 파트너쉽 금액정보를 반환 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 장부사 파트너쉽 금액정보가 없는 경우 </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> 이미 장부사에게 공개된 정산내역의 경우 </td><td>  -  </td></tr>
     </table>
     */
    public ChargeJangbuPartnership adjustControllerUpdateChargeJangbuPartnership(BigDecimal jangbuId, BigDecimal yearMonth, UpdateChargeJangbuPartnershipInput updateChargeJangbuPartnershipInput) throws ApiException {
        ApiResponse<ChargeJangbuPartnership> localVarResp = adjustControllerUpdateChargeJangbuPartnershipWithHttpInfo(jangbuId, yearMonth, updateChargeJangbuPartnershipInput);
        return localVarResp.getData();
    }

    /**
     * (해당연월) 장부사의 파트너쉽 금액 수정
     * (해당연월) 장부사의 파트너쉽 금액을 수정한다.
     * @param jangbuId  (required)
     * @param yearMonth  (required)
     * @param updateChargeJangbuPartnershipInput  (required)
     * @return ApiResponse&lt;ChargeJangbuPartnership&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> (수정된) 장부사의 파트너쉽 금액정보를 반환 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 장부사 파트너쉽 금액정보가 없는 경우 </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> 이미 장부사에게 공개된 정산내역의 경우 </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ChargeJangbuPartnership> adjustControllerUpdateChargeJangbuPartnershipWithHttpInfo(BigDecimal jangbuId, BigDecimal yearMonth, UpdateChargeJangbuPartnershipInput updateChargeJangbuPartnershipInput) throws ApiException {
        okhttp3.Call localVarCall = adjustControllerUpdateChargeJangbuPartnershipValidateBeforeCall(jangbuId, yearMonth, updateChargeJangbuPartnershipInput, null);
        Type localVarReturnType = new TypeToken<ChargeJangbuPartnership>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * (해당연월) 장부사의 파트너쉽 금액 수정 (asynchronously)
     * (해당연월) 장부사의 파트너쉽 금액을 수정한다.
     * @param jangbuId  (required)
     * @param yearMonth  (required)
     * @param updateChargeJangbuPartnershipInput  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> (수정된) 장부사의 파트너쉽 금액정보를 반환 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 장부사 파트너쉽 금액정보가 없는 경우 </td><td>  -  </td></tr>
        <tr><td> 406 </td><td> 이미 장부사에게 공개된 정산내역의 경우 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call adjustControllerUpdateChargeJangbuPartnershipAsync(BigDecimal jangbuId, BigDecimal yearMonth, UpdateChargeJangbuPartnershipInput updateChargeJangbuPartnershipInput, final ApiCallback<ChargeJangbuPartnership> _callback) throws ApiException {

        okhttp3.Call localVarCall = adjustControllerUpdateChargeJangbuPartnershipValidateBeforeCall(jangbuId, yearMonth, updateChargeJangbuPartnershipInput, _callback);
        Type localVarReturnType = new TypeToken<ChargeJangbuPartnership>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for adjustControllerUpdateChargeJangbuStatus
     * @param jangbuId 장부사 순번 (required)
     * @param yearMonth 해당연월 (YYYYMM) (required)
     * @param updateChargeJangbuStatusInput  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 성공 : 업데이트된 정산내역 정보를 반환 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 정산내역이 존재하지 않음 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call adjustControllerUpdateChargeJangbuStatusCall(BigDecimal jangbuId, BigDecimal yearMonth, UpdateChargeJangbuStatusInput updateChargeJangbuStatusInput, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = updateChargeJangbuStatusInput;

        // create path and map variables
        String localVarPath = "/public/api/adjust/jangbu/{jangbuId}/yearMonth/{yearMonth}/status"
            .replaceAll("\\{" + "jangbuId" + "\\}", localVarApiClient.escapeString(jangbuId.toString()))
            .replaceAll("\\{" + "yearMonth" + "\\}", localVarApiClient.escapeString(yearMonth.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "bearer" };
        return localVarApiClient.buildCall(localVarPath, "PATCH", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call adjustControllerUpdateChargeJangbuStatusValidateBeforeCall(BigDecimal jangbuId, BigDecimal yearMonth, UpdateChargeJangbuStatusInput updateChargeJangbuStatusInput, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'jangbuId' is set
        if (jangbuId == null) {
            throw new ApiException("Missing the required parameter 'jangbuId' when calling adjustControllerUpdateChargeJangbuStatus(Async)");
        }
        
        // verify the required parameter 'yearMonth' is set
        if (yearMonth == null) {
            throw new ApiException("Missing the required parameter 'yearMonth' when calling adjustControllerUpdateChargeJangbuStatus(Async)");
        }
        
        // verify the required parameter 'updateChargeJangbuStatusInput' is set
        if (updateChargeJangbuStatusInput == null) {
            throw new ApiException("Missing the required parameter 'updateChargeJangbuStatusInput' when calling adjustControllerUpdateChargeJangbuStatus(Async)");
        }
        

        okhttp3.Call localVarCall = adjustControllerUpdateChargeJangbuStatusCall(jangbuId, yearMonth, updateChargeJangbuStatusInput, _callback);
        return localVarCall;

    }

    /**
     * 정산내역 비공개 → 공개 상태값 업데이트 및 정산내역 메일 발송 (관리자 전용: 극히 일부사용자만)
     * 정산내역의 비공개 → 공개 상태값을 업데이트 및 정산내역의 메일을 발송한다
     * @param jangbuId 장부사 순번 (required)
     * @param yearMonth 해당연월 (YYYYMM) (required)
     * @param updateChargeJangbuStatusInput  (required)
     * @return ChargeJangbu
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 성공 : 업데이트된 정산내역 정보를 반환 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 정산내역이 존재하지 않음 </td><td>  -  </td></tr>
     </table>
     */
    public ChargeJangbu adjustControllerUpdateChargeJangbuStatus(BigDecimal jangbuId, BigDecimal yearMonth, UpdateChargeJangbuStatusInput updateChargeJangbuStatusInput) throws ApiException {
        ApiResponse<ChargeJangbu> localVarResp = adjustControllerUpdateChargeJangbuStatusWithHttpInfo(jangbuId, yearMonth, updateChargeJangbuStatusInput);
        return localVarResp.getData();
    }

    /**
     * 정산내역 비공개 → 공개 상태값 업데이트 및 정산내역 메일 발송 (관리자 전용: 극히 일부사용자만)
     * 정산내역의 비공개 → 공개 상태값을 업데이트 및 정산내역의 메일을 발송한다
     * @param jangbuId 장부사 순번 (required)
     * @param yearMonth 해당연월 (YYYYMM) (required)
     * @param updateChargeJangbuStatusInput  (required)
     * @return ApiResponse&lt;ChargeJangbu&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 성공 : 업데이트된 정산내역 정보를 반환 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 정산내역이 존재하지 않음 </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ChargeJangbu> adjustControllerUpdateChargeJangbuStatusWithHttpInfo(BigDecimal jangbuId, BigDecimal yearMonth, UpdateChargeJangbuStatusInput updateChargeJangbuStatusInput) throws ApiException {
        okhttp3.Call localVarCall = adjustControllerUpdateChargeJangbuStatusValidateBeforeCall(jangbuId, yearMonth, updateChargeJangbuStatusInput, null);
        Type localVarReturnType = new TypeToken<ChargeJangbu>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * 정산내역 비공개 → 공개 상태값 업데이트 및 정산내역 메일 발송 (관리자 전용: 극히 일부사용자만) (asynchronously)
     * 정산내역의 비공개 → 공개 상태값을 업데이트 및 정산내역의 메일을 발송한다
     * @param jangbuId 장부사 순번 (required)
     * @param yearMonth 해당연월 (YYYYMM) (required)
     * @param updateChargeJangbuStatusInput  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> 성공 : 업데이트된 정산내역 정보를 반환 </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> 정산내역이 존재하지 않음 </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call adjustControllerUpdateChargeJangbuStatusAsync(BigDecimal jangbuId, BigDecimal yearMonth, UpdateChargeJangbuStatusInput updateChargeJangbuStatusInput, final ApiCallback<ChargeJangbu> _callback) throws ApiException {

        okhttp3.Call localVarCall = adjustControllerUpdateChargeJangbuStatusValidateBeforeCall(jangbuId, yearMonth, updateChargeJangbuStatusInput, _callback);
        Type localVarReturnType = new TypeToken<ChargeJangbu>(){}.getType();
[...]
